body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*-----------========= header ========----------*/
.header {
  border-bottom: 1px solid #e7e9fc;
}
.cont-header {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.color-logo {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-item:hover {
  color: #404bbf;
}
.nav-item:focus {
  color: #404bbf;
  text-decoration: underline;
}

.nav-item:active {
  text-decoration: underline;
}

.contact {
  margin-left: auto;
}
.contact-link:hover {
  color: #404bbf;
}

.contact-link:focus {
  color: #404bbf;
}
.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------========= solutions ========----------*/

.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.solutions-bg-img {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin: 0 auto;
}
.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;

  border: none;

  border-radius: 4px;
  padding: 16px;
  min-width: 169px;
  height: 56px;

  margin: 0 auto;
  margin-top: 48px;
  display: block;
}

.btn:hover {
  background: #404bbf;
}
.btn:focus {
  background: #404bbf;
}

/*-----------========= progress ========----------*/
.progress {
  padding-top: 120px;
  padding-bottom: 120px;
}

.progress-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}
.progress-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

/* ========svg-progress============ */

.progress-svg {
  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;

  padding-top: 24px;
  padding-bottom: 24px;
}
.progress-list-item {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.progress-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------========= team ========----------*/

.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.title-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-item {
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  row-gap: 48px;
}
.team-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.team-title-position {
  padding: 32px 0;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-list-icon {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-left: 16px;
  padding-top: 8px;
}
.team-svg {
  margin: 0 auto;
}

.team-item-icon {
  display: flex;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.team-item-icon:hover {
  background-color: #31d0aa;
}

/*-----------========= portfolio ========----------*/

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}

.portfolio-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------========= footer ========----------*/

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.container-footer {
  display: flex;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.color-logo-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-second-box {
  max-width: 208px;
  margin-left: 120px;
}

.footer-list-icon {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 16px;
}

.footer-item-icon {
  display: flex;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}
.footer-item-icon:hover {
  background-color: #31d0aa;
}

.footer-text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
